.container-non-responsive {
  margin-left: auto;
  margin-right: auto;

  width: 940px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.graph-tree {
  padding: 15px;
  margin: 25px 0;
  text-align: center;
  font-size: 9px;
  border: 1px solid #DDD;
}

.graph-tree:after, .graph-node-row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.graph-node-row {
  float: left;
}

.graph-node {
  width: 50px;
  height: 50px;
  background: #EFEFEF;
  display: block;
  line-height: 45px;
  border-radius: 25px;
  margin: 5px 2px 5px calc(50% - 23px);
  text-decoration: none;
}

.graph-node-row.leaf-node .graph-node {
  background-color: #AAA;
  color: #FFF;
}

.graph-node.active {
  background-color: #337AB7!important;
  color: #FFF;
}
