.graph-tree {
  padding: 15px;
  margin: 25px 0;
  text-align: center;
  font-size: 9px;
}

.graph-tree:after, .graph-node-row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.graph-tree a {
  text-decoration: none;
  margin-left: calc(50% - 30px);
}

.graph-node-row {
  float: left;
}

.graph-node {
  width: 50px;
  height: 50px;
  background: #EFEFEF;
  display: block;
  line-height: 45px;
  margin: 5px 5px;
}

.graph-node-row.leaf-node .graph-node {
  background-color: #AAA;
  color: #FFF;
}

.graph-node.active {
  background-color: #337AB7!important;
  color: #FFF;
}
