<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			{{#link-to "index" class="navbar-brand"}}
        Path Inspector
			{{/link-to}}
		</div>
	</div>
</nav>

<div class="container">
  <h1>Route Tree</h1>

  {{#graph-tree tree=pathInspectorService.routeMapTree}}
    {{graph-node node=pathInspectorService.routeMapTree}}
  {{/graph-tree}}

  <h2>Route Data</h2>

  {{partial "inspect"}}

  {{outlet}}
</div>
