<nav class="navbar navbar-inverse">
    <div class="container-non-responsive">
        <div class="navbar-header">
          {{#link-to "index" class="navbar-brand"}}
              Ember Cli Path Inspector
          {{/link-to}}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/ember-cli-path-inspector/docs/">API Docs</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-non-responsive">
  <h1>Route Tree</h1>

	<h3>route name: {{link-to currentPath currentPath}}</h3>

  {{#graph-tree tree=pathInspectorService.routeMapTree}}
    {{graph-node node=pathInspectorService.routeMapTree}}
  {{/graph-tree}}

  <h2>Statistics:</h2>

  {{partial "partials/statistics"}}

  {{outlet}}
</div>
