<div>Node Name: {{nodeName}} </div>
<div>Route Name: {{routeName}}</div>
<div>Child Routes:</div>
<ul>
	{{#each childRoutes as |childRoute|}}
		<li>
			{{#link-to childRoute.routeName}}
				{{childRoute.routeName}}
			{{/link-to}}
		</li>
	{{else}}
		<li>No Child Routes</li>
	{{/each}}
</ul>
<hr />